.header{
  background: #131212fd;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #242424;
  position: sticky;
  top: 0;
  background-color: rgba(17, 17, 17, 0.8);
  backdrop-filter: blur(20px);
  z-index: 100;
}

.header h1 a{
  color: #fff;
}

.nav{
  display: flex;
  margin-right: 10px;
}
.nav ul{
  font-size: 14px;
  display: flex;
  line-height: 1.9rem;
}
.nav ul li a:hover{
  background-color: rgb(46, 46, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.nav a{
  border-radius: 4px;
  padding: 12px 24px;
  margin-left: 2px;
}
a{
  color: #b1b1b1;
}

.menu {
  display: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  transition: .3s;
}

.header i{
 display: none;
 cursor: pointer;
 padding: 10px;
 border-radius: 4px;
}

.header i:hover {
  background: #242424;
}


.menu:hover {
  background-color: #5f5f5f;
}

@media (max-width: 650px) {
  .nav{
    display: none;
  }
  .header i{
    display: block;
    color: #fff;
    font-size: 1.6em;
   }
}

/* @media (max-width: 450px) {
  .nav a{
    padding: 10px 12px;
  }
}

@media (max-width: 380px) {
  .nav a{
    padding: 10px 8px;
  }
  .header {
    padding: 20px 10px;
  }
} */